body {
	margin: 0 auto;
	text-align: center;
	background-color: #0099cc;
	
}

h1 {
	color: red;
	font-size: 5em;
	font-weight: bold;
	font-family: Tahoma;
	text-shadow:
    -7px -7px 0 #000,
    1px -1px 0 #000,
    -2px 2px 0 #000,
    3px 3px 0 #000,
    1px 1px 0 #000;

}

#start {
	text-align: center;
	padding: 10px 15px;
	font-size: 1em;
	background-color: white;
	font-family: Arial;
	color: black;
	border: 3px solid black;
}


section {
	margin: 0 auto;
	max-width: 450px;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
	color: black;
}

#questionspace{
	padding: 45px 5px;
	background-color: #66ccff;
	margin: 1px;
	border: 3px solid black;
	font-weight: bold;
}


.answers {
	padding: 40px 15px;
	background-color: #4d9900;
	margin: 10px;
	border: 3px solid black;
	border-radius: 20px;
	font-weight: bolder;
	
}


.answers:hover {
	background: #FFe20e;
	cursor: pointer; cursor: hand;
}



footer {
	padding-top: 30px;
